<footer>
<p>Copyright &copy; Matthew Thoms</p>
</footer>
<script type="text/javascript" src="/javascripts/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</body>
</html>