            <%- include partials/header.ejs %>
            <h1><%= title %></h1>
            <p>This is a random number: <strong><%= randomNumber %></strong></p>
            <%- include partials/footer.ejs %>